     table, th, td {
            font-family: Arial;
            border: 3px solid black;
            border-collapse: collapse;
            text-align: center;
        }

        th, td {
            padding: 10px;
        }

        th {
            text-decoration: underline;
        }